body
{
    background-color:#b0c4de;
}
 
#header
{
    font-family:"Comic Sans MS", Times, serif;
    font-size:30px;
    text-align:center;
}
 
hr
{
     
    background-color: #FFFFFF;
    height: 5px;
}
 
#leftpane{
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
    margin : 10px;
    text-align: left;
}
 
#ul_head
{
    color: #463325;
    font-size: 30px;    
}
 
#content
{
    vertical-align:top;
}
 
.table
{
    border-style: solid;
         
}
 
#content
{
    text-align:center;
}
 
.tbox
{
    width:300px;
    height: 30px;
    font-size : 25px;
    font-family:"Comic Sans MS", Times, serif;  
}
 
 
table#output_table
{
    border-style: solid;
    width:100%;
    font-family:"Comic Sans MS", Times, serif;
    font-size:20px;
    color:#3E210C;
    border-collapse:collapse;
}
 
td
{
    text-align:center;
    height: 50px;
    padding: 15px;
    border-style :solid;
     
}
 
 
a
{
    text-decoration:none;
}
 
.error
{
    color:red;
}
